<html>
<head>
  <title>Login and Registration</title>
   <meta charset="utf-8">
 	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/user_app.css' %}" title="Login Registration">
</head>
<body>
<!-- we can use the line below to see all of our data in our template -->
	<h1>Welcome!</h1>
	<div id="register">
		<h3>Registration</h3>
		{% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
 		<form method="POST" action="/register">
 		{% csrf_token %}
 		<table>
 			<tbody>
 				<tr>
 					<td>Name:</td>
					<td><input id="name" type="text" name="name"></td>
				</tr>
				<tr>
					<td>Username:</td> 
					<td><input id="user_name" type='text' name="user_name"></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input id="password" type='password' name="password"></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td><input id="password" type='password' name="confirm"></td>
				</tr>
				<tr>
					<td>Date Hired:</td>
					<td><input id="date" type='date' name="hired"></td>
				</tr>
			</tbody>
		</table>
		<input class="button" type="submit" value="Register">	
		</form>
  	</div>
	<div id="login">
		<h3>Login</h3>
		<form method="POST" action="/login">
		{% csrf_token %}
		<table>
			<tbody>
				<tr>
					<td>Username:</td> 
					<td><input id="user_name" type='text' name='user_name' value=''></td>
				</tr>
				<tr>
					<td>Password:</td> 
					<td><input id="password" type='password' name='password' value=''></td>
				</tr>
			</tbody>
		</table>
		<input class="button" type="submit" value="Login">
		</form>
	</div>
</body>
</html>